<div class="navbar-fixed">
  {{#md-navbar name='No Breaks' class='black' homeRoute='index'}}
    <div class="navbar-fixed">
      <!-- A workaround to get the "active" class
        to apply to the active <li> automatically -->
      {{#link-to 'index' tagName='li'}}
        {{link-to 'About' 'index'}}
      {{/link-to}}
      {{#link-to 'raiding' tagName='li'}}
        {{link-to 'Raiding' 'raiding'}}
      {{/link-to}}
      {{#link-to 'join' tagName='li'}}
        {{link-to 'Join' 'join'}}
      {{/link-to}}
      {{#link-to 'social' tagName='li'}}
        {{link-to 'Social & Events' 'social'}}
      {{/link-to}}
    </div>
  {{/md-navbar}}
</div>


{{outlet}}
<div id="footer" class="section grey darken-4 white-text">
  <div class="row container">
    <p class="col s6">
      <a href="https://www.facebook.com/groups/448758615283027/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
      <a href="https://discord.gg/eSeHHRS" target="_blank"><i class="fa fa-commenting" aria-hidden="true"></i> Discord</a>
    </p>
    <p class="col s6"><i class="fa fa-copyright" aria-hidden="true"></i> 2017. Made with <i class="fa fa-heart" aria-hidden="true"></i> by Veksaryn and Shadryn</p>
  </div>
</div>
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
