{{md-parallax image="https://api.nobreaksguild.com/cdn/images/sylvanas.jpg"}}
<div class="raiding">
  <div class="row">
    <div class="col m2 pin-container">
      <ul class="int-side-nav">
        {{#link-to 'raiding.index' tagName='li'}}
          {{link-to 'Raiding Home' 'raiding.index'}}
        {{/link-to}}
        {{#link-to 'raiding.loot' 'latest' tagName='li'}}
          {{link-to 'Loot' 'raiding.loot' 'latest'}}
        {{/link-to}}
        <li>Joint Normal Team
          <ul>
            {{#link-to 'raiding.mythic.progress' tagName='li'}}
              {{link-to 'Progress & Logs' 'raiding.mythic.progress'}}
            {{/link-to}}
          </ul>
        </li>
        <li>Weekday Team
          <ul>
            {{#link-to 'raiding.weekday.roster' tagName='li'}}
              {{link-to 'Roster' 'raiding.weekday.roster'}}
            {{/link-to}}
            {{#link-to 'raiding.weekday.progress' tagName='li'}}
              {{link-to 'Progress & Logs' 'raiding.weekday.progress'}}
            {{/link-to}}
          </ul>
        </li>
        <li>Weekend Team
          <ul>
            {{#link-to 'raiding.weekend.roster' tagName='li'}}
              {{link-to 'Roster' 'raiding.weekend.roster'}}
            {{/link-to}}
            {{#link-to 'raiding.weekend.progress' tagName='li'}}
              {{link-to 'Progress & Logs' 'raiding.weekend.progress'}}
            {{/link-to}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col s12 m9 right">
      {{outlet}}
    </div>
  </div>
</div>
