{{md-parallax image="https://api.nobreaksguild.com/cdn/images/sylvanas.jpg"}}
<div class="raiding">
  <div class="row">
    <div class="col m2">
      <ul class="int-side-nav">
        <li>Weekday Team
          <ul>
            {{#link-to 'raiding.weekday.roster' tagName='li'}}
              {{link-to 'Roster' 'raiding.weekday.roster'}}
            {{/link-to}}
            {{#link-to 'raiding.weekday' tagName='li'}}
              {{link-to 'Loot' 'raiding.weekday'}}
            {{/link-to}}
            {{#link-to 'raiding.weekday.progress' tagName='li'}}
              {{link-to 'Progress & Logs' 'raiding.weekday.progress'}}
            {{/link-to}}
          </ul>
        </li>
        <li>Weekend Team
          <ul>
            <li><a href="#">Roster</a></li>
            <li><a href="#">Loot</a></li>
            <li><a href="#">Progress & Logs</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col s12 m8">
      {{outlet}}
    </div>
  </div>
</div>
